<div [hidden]="!purchaseRemoved" class="alert alert-success">Kauf gelöscht</div>
<div [hidden]="!purchaseNotRemoved" class="alert alert-warning">Kauf nicht gefunden</div>

<table class="table">
    <thead>
    <tr>
        <th>Datum</th>
        <th>Titel</th>
        <th>Preis</th>
        <th>Käufer</th>
        <th class="hidden-xs">Beschreibung</th>
        <th>Für</th>
        <th class="text-center">Löschen</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of purchases">
            <td>{{p.date}}</td>
            <td>{{p.title}}</td>
            <td>{{p.cost/100}}&euro;</td>
            <td>{{p.boughtBy}}</td>
            <td>{{p.description}}</td>
            <td>{{p.boughtFor}}</td>
            <td class="text-center">
                <form method="post" action="">
                    <input type="hidden" name="id" value="{{p.id}}">
                    <button class="btn btn-xs btn-default" type="button" title="Löschen" (click)="deletePurchase(p.id)"><i class="glyphicon glyphicon-remove"></i></button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
