dialog(id="userConfigDialog", class="mdl-dialog")
  h4(class="mdl-dialog__title") User Settings
  div(class="mdl-dialog__content")
    p Choose your username. It will be displayed when you ask a question, or comment.
    div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
      input(id="usernameInput", class="mdl-textfield__input", type="text")
      label(class="mdl-textfield__label", for="usernameInput") Username
  div(class="mdl-dialog__actions")
    button(type="button",class="mdl-button", onclick="closeDialog()") OK

script(type='text/javascript').
  function openDialog() {
    var input = document.querySelector('#usernameInput');
    input.value = localStorage.username;
    var dialog = document.querySelector('#userConfigDialog');
    dialog.showModal();
  }
  function closeDialog() {
    var input = document.querySelector('#usernameInput');
    localStorage.username = input.value;
    var dialog = document.querySelector('#userConfigDialog');
    dialog.close();
  }
  function redirectMyEvents() {
    var url = "/generated/users/" + localStorage.username + "/events";
    window.location.href = url;
  }
